<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> Contact Us </h1>
        </div>
        <div class="contact-data">
          <h6> Zen-tra-too UG </h6>
          <h6> Schripitzer Weg 26 </h6>
          <h6> 12355 Berlin </h6>
          <h5> Telefon: 030-536 04612 </h5>
          <h5> E-Mail: <a> info@zen-tra-too.de </a> </h5>
        </div>
      </div>
      <%= render "/shared/sidebar" %>
    </div>
  </div>
</section>