<div class="container-fluid">
            <div class="row">
                    <div class="col-md-offset-3 col-md-6" style="padding-top: 20px;">
                        <div class="row">
  <div class="col-md-12">
  </div>
</div> 
                        <P><H1>Zusammenfassung</H1></P>

<B>Geltungsbereich
und Einwilligung</B>
<P>Zur
postalischen Kontaktaufnahme in Deutschland können Sie sich an
folgende Adresse wenden:</P>
<P>Zentratoo
UG (haftungsbeschränkt)</P>
<P>Geschäftsführerin
: Anja Sternberg</P>
<P>Schirpitzer
Weg 26</P>
<P>D-12355
Berlin 
</P>
<P>E-Mail:
<A HREF="mailto:contact@zentratoo.com">contact@zentratoo.com</A></P>
<P>            
<A HREF="mailto:info@zentratoo.comm">info@zentratoo.comm</A></P>
<P>Telefonisch
erreichen Sie uns unter 030-53604612
(Aus dem Ausland 
 +49 30 53604612)</P>

<UL>
  <LI><P>täglich
  von 9:00 bis 17:00 Uhr</P>
</UL>

<P>In
dieser Datenschutzerklärung werden die Erhebung, Nutzung,
Weitergabe, Speicherung und der Schutz Ihrer personenbezogenen Daten
beschrieben. Sie gilt für jede Zentratoo-Website, auf der in der
Fußzeile auf diese Datenschutzerklärung verwiesen wird, und für
alle Zentratoo-Anwendungen, -Services oder -Tools (zusammen
„Services“), in denen auf diese Datenschutzerklärung verwiesen
wird, unabhängig davon, auf welchem Weg Sie die Services aufrufen
oder verwenden, einschließlich des Zugriffs über Mobilgeräte.
<B>Durch die Nutzung unserer
Services und/oder die Einrichtung eines Zentratoo-Kontos nehmen Sie
diese Datenschutzerklärung und unsere</B>
<B>Allgemeinen
Geschäftsbedingungen</B> <B>an
und Sie erklären sich ausdrücklich mit der Erhebung, Nutzung,
Weitergabe, Speicherung und dem Schutz Ihrer personenbezogenen Daten
gemäß der Beschreibung in dieser Datenschutzerklärung
einverstanden.</B>

<B>Weltweite
Datenschutzgrundsätze</B>
<P>Zentratoo
hat weltweite Datenschutzgrundsätze eingeführt, die als
verbindliche unternehmensweit geltende Richtlinien (Binding
Corporate Rules, BCRs) bezeichnet
werden. Mit diesen Richtlinien verpflichtet sich Zentratoo., Ihre
personenbezogenen Daten angemessen zu schützen und unsere
Datenschutzverpflichtungen einzuhalten, unabhängig davon, wo in
Zentratoo Ihre personenbezogenen Daten erhoben, verarbeitet oder
gespeichert werden.</P>
<P>Zentratoo
ist die verantwortliche Stelle für Ihre Daten und ist damit
verantwortlich für die Erhebung, Nutzung, Weitergabe, Speicherung,
und den Schutz Ihrer personenbezogenen Daten in Einklang mit unseren 
Datenschutzrichtlinien und dem anwendbaren Recht. Wir können Ihre
personenbezogenen Daten auf unseren Servern  verarbeiten und
speichern.</P>

<B>Personenbezogene</B>
<B>Daten</B>
<P>Unter
„personenbezogenen Daten“ werden Informationen verstanden, die
einer bestimmten Person zugeordnet oder zur Identifizierung dieser
Person genutzt werden können, unabhängig davon, ob diese Zuordnung
bzw. Identifizierung direkt auf Basis dieser Daten oder auf Basis
dieser Daten und anderer zusätzlicher Informationen erfolgt, auf die
Zentratoo Zugriff hat
oder wahrscheinlich haben wird. Nicht als personenbezogene Daten
betrachten wir Daten, die anonymisiert wurden und daher auch in
Kombination mit anderen Informationen oder auf andere Art und Weise
nicht zur Identifizierung einer bestimmten Person verwendet werden
können.</P>

<B>Änderungen
dieser Datenschutzerklärung</B>
<P>Diese
Datenschutzerklärung kann von uns jederzeit geändert werden.
Sämtliche Änderungen dieser Datenschutzerklärung werden auf dieser
Website veröffentlicht und werden automatisch 30&nbsp;Tage nach
ihrer Veröffentlichung wirksam. Über
wesentliche Änderungen dieser Datenschutzerklärung werden wir Sie
über das Zentratoo-Nachrichtenzentrum (Meine Nachrichten in
Zentratoo) und/oder per E-Mail informieren.</P>
<P>Zentratoo.com
hat weltweite
Datenschutzgrundsätze
eingeführt, die als
verbindliche unternehmensweit geltende Richtlinien bezeichnet werden.
Mit diesen Richtlinien verpflichtet sich Zentratoo,
Ihre personenbezogenen&nbsp;Daten angemessen zu schützen und unsere
Datenschutzverpflichtungen einzuhalten, unabhängig davon, wo Ihre
personenbezogenen &nbsp;Daten erhoben, verarbeitet oder gespeichert
werden. Diese verbindlichen unternehmensweit geltenden Richtlinien
wurden von mehreren Datenschutzbehörden in der Europäischen Union
anerkannt.&nbsp;</P>
<P>Das
bedeutet, dass wir Ihre personenbezogenen Daten überall  in Einklang
mit den Datenschutzstandards der Europäischen Union behandeln. 
</P>
<B>Datenerhebung</B>
<P>Wir
erheben, verarbeiten und speichern personenbezogene Daten von Ihnen
und den Geräten (auch Mobilgeräten), die Sie verwenden, wenn Sie
unsere Services nutzen, ein Zentratoo-Konto einrichten, uns
Informationen durch ein Webformular mitteilen, Informationen zu Ihrem
Zentratoo-Konto hinzufügen oder aktualisieren, oder in Verbindung
mit unseren Services auf andere Weise mit uns in Kontakt treten.</P>
<P>Wir
nutzen die von uns erhobenen personenbezogenen Daten für folgende
Zwecke: um unsere Services bereitzustellen und zu verbessern, um
Ihnen eine personalisierte Nutzererfahrung auf unserer Website zu
bieten (insbesondere um Ihnen Services ,Artikel , Produkte und
Dienstleistungen anzuzeigen, die Ihnen möglicherweise gefallen), um
Sie zu Ihrem Zentratoo-Konto und unseren Services zu kontaktieren, um
Ihnen Leistungen des Kundenservice zur Verfügung zu stellen, um
Ihnen personalisierte Werbeanzeigen einzublenden und
Marketingmitteilungen (wie unten näher beschrieben) zu übermitteln
und um Betrug oder rechtswidrige Aktivitäten zu erkennen, zu
verhindern, einzudämmen und zu untersuchen.</P>

<B>Nutzung
und Speicherung</B>
<P>
Wir bewahren Ihre personenbezogenen
Daten so lange auf, wie sie für die Erbringungen unserer Services
notwendig und wesentlich sind. Darüber hinaus können wir
personenbezogene Daten zu geschlossenen Konten aufbewahren. Mögliche
Gründe dafür sind unter anderem die Einhaltung gesetzlicher
Vorschriften, Betrugsprävention, die Behebung von Problemen, die
Unterstützung von &nbsp;Ermittlungen, die Durchsetzung unserer
Allgemeinen Geschäftsbedingungen und die Durchführung anderer
Maßnahmen, sofern diese gesetzlich zulässig oder erforderlich sind.</P>
<B>Wahlmöglichkeiten</B>
<P>Sie können wählen,
wie wir Ihre personenbezogenen Daten nutzen dürfen, um mit Ihnen in
Kontakt zu treten, Ihnen Marketingmitteilungen zu übermitteln und
Ihnen personalisierte Werbeanzeigen einzublenden. Außerdem können
Sie entscheiden, ob Sie in Ihrem Zentratoo-Konto eingeloggt bleiben
möchten.</P>

<B>Auskunft, Korrektur und
Löschung</B>
<P>Wir
treffen Maßnahmen, um sicherzustellen, dass die von uns erhobenen
personenbezogenen Daten korrekt und aktuell sind, und bieten Ihnen
die Möglichkeit, Ihre Daten in den Profileinstellungen
Ihres Zentratoo-Kontos zu
aktualisieren.</P>

<B>Weitergabe
von Informationen</B>
<P>Gegebenenfalls
geben wir Ihre personenbezogenen Daten  weiter. Eine solche
Datenweitergabe kann erforderlich sein, um Ihnen den Zugriff auf
unsere Services zu ermöglichen, um unsere gesetzlichen
Verpflichtungen zu erfüllen, um unsere Allgemeinen
Geschäftsbedingungen durchzusetzen, um unsere Marketing- und
Werbeaktivitäten durchzuführen und um Betrug oder rechtswidrige
Aktivitäten in Verbindung mit unseren Services zu verhindern, zu
erkennen, einzudämmen und zu untersuchen. Wir geben Ihre
personenbezogenen Daten niemals ohne Ihre ausdrückliche Einwilligung
an Dritte für deren Marketing- und Werbezwecke weiter.</P>

<B>Sicherheit</B>
<P>Ihre
Daten werden durch technische und organisatorische
Sicherheitsmaßnahmen geschützt, um Risiken in Zusammenhang mit
deren Verlust, Missbrauch, unberechtigtem Zugriff sowie
unberechtigter Weitergabe und Änderung zu minimieren. 
</P>

<B>Wichtige
Informationen</B>
<P>Dieser
Abschnitt enthält zusätzliche wichtige Informationen zum
Datenschutz in Verbindung mit der Nutzung unserer Services.</P>

<B>Fragen
oder Beschwerden</B>
<P>Wenn Sie Fragen oder
Beschwerden zu dieser Datenschutzerklärung, unseren
Datenschutzrichtlinien oder unserem Umgang mit Daten haben, können
Sie sich schriftlich unter folgender Adresse an uns
unter Nutzung der obigen Adresse wenden.</P>


                    </div>
            </div>