<div class="container-fluid">
            <div class="row">
                    <div class="col-md-offset-3 col-md-6" style="padding-top: 20px;">
                        <div class="row">
  <div class="col-md-12">
  </div>
</div> 
                        <B>Was
ist Zen-tra-too.de ?</B>
<P>Zen-tra-too.de
ist eine bisher einzigartige Internet Handelsplattform (B2B)</P>
<B>Für
wen ist das?</B>
<P>Für
Fachkäufer – und Verkäufer im Bereich Lebensmittelkonzentrate,
ergänzt durch Dienstleistungen und Produkte, die in direktem
Zusammenhang zu Fruchtkonzentraten -bzw. Fruchthalbfertigprodukte
stehen.</P>
<B>Welchen
Nutzen bietet mir Zen-tra-too.de?</B>
<P >Gute Geschäfte weltweit !<BR>Anbieter können bequem vom Büro aus ihre
Produkte Geschäftspartnern auf der gesamten Welt anbieten. Das spart
Zeit und  Geld - z.B. für teure Messepräsenzen. Gleichzeitig
erweitern sich die Absatzmöglichkeiten.  Käufer haben auf
Zen-tra-too.de ganz neue Möglichkeiten der Warenbeschaffung:
einfach, online und individuell.</P>
<B>Was
kostet das ?   </B>
<P >
<FONT COLOR="#ff0000">Das
Anbieten oder Suchen sowie alle weiteren Services der Plattform sind
bis auf Weiteres kostenlos.</FONT>
Falls hier eine Umstellung erfolgt, werden die betreffenden
Mitglieder rechtzeitig informiert, selbstverständlich mit der Option
zur Beendigung der Mitgliedschaft ohne anfallende Kosten.</P>
<B>Voraussetzung
für die Teilnahme</B>
<P >
Als
Geschäfts-Plattform richtet sich Zen-tra-too.de ausschließlich an
gewerbliche Teilnehmer. Bei der Anmeldung wird daher um ein Nachweis
der gewerblichen Tätigkeit gebeten, wie z.B. Gewereanmeldung oder
UST / VAT Nummer.</P>
<B>Wie
geht das?</B>
<P >
Anmelden,
die Bestätigungs E Mail lesen und den Bestätigungslink anklicken,
innerhalb kurzer Zeit wird Ihr Konto durch uns aktiviert und Sie
können danach sofort loslegen. Anbieten oder Suchen, Partner finden
und alles bequem online abwickeln.</P>
<B>Welche
Funktionen stehen mir zur Verfügung ?</B>
<P >
Nachdem
Sie sich eingeloggt haben, sehen Sie oben am Bildrand eine Kopfzeile
mit allen Funktionen , die Sie soweit nutzen können, hierzu gehören
“ Produkte / Nachfragen /Angebot / Benachrichtigungsfunktion /
Suche / Kontakt / Sprache / Rechtliches (...) Ihr Konto ( Ihre E Mail
Adresse ) und der Logout Buttom.</P>
<B>Wie
ist mein Benutzername und wo finde ich meine Kontoeinstellungen /
Mein Zentratoo?</B>
<P >
Benutzername
ist Ihre  E-Mail, die rechts außen in der Kopfzeile erscheint und
gleichzeitig auch Ihre Kontoeinstellung darstellt ( Mein Zentratoo).
Bei Klick auf diese E Mail Adresse öffnet sich automatisch Ihr
persönlicher Zentratoo Bereich.</P>
<B>Was
passiert, wenn ich mein Passwort vergessen habe?</B>
<P >
Sie
klicken auf der Startseite auf den Link “Passwort vergessen”  und
tragen dann auf der Folgeseite, die sich dann öffnet erneut Ihre E
Mail Adresse ein. Unter “Registrieren”, tragen Sie dort die bei
Ihrer Anmeldung eingegebene E-Mail-Adresse ein und klicken auf
“Schicken Sie mir eine Anleitung mein Passwort zurückzusetzen ”.
Kurz darauf erhalten Sie eine E-Mail an diese Adresse mit einem Link.
Sie rufen die Seite auf, bestätigen dort Ihre E-Mail und wählen ein
neues Passwort. Dies dann kurz mit Speichern bestätigen und das neue
Passwort ist aktiv.</P>
<B>Was
finde ich in meinem persönlichen Bereich vor  ?</B>
<P >
Hier
finden Sie Ihre persönlichen Daten, die Sie auch jederzeit ändern
können. Hierzu gehören außer den Stammdaten, dem Passwort und dem
aktuellen Stand Ihrer Mitgliedschaft auch Ihre Fotos, die Sie
hochladen können und ebenso Dokumente ( wie z.B. Analysen oder
Warenspezifikationen ). Zu guter Letzt sind dann dort auch alle Ihre
Angebote oder Anfragen aufgelistet.</P>
<B>Wie
finde ich das passende Angebot / Gesuch ?</B>
<P >
Wenn
Sie Angebote oder Gesuche suchen und finden wollen, bitte gehen Sie
zunächst nach dem Einloggen auf Ihrer  Startseite  rechts außen auf
die beiden obersten farbigen Buttoms ( Neueste Angebote / Neueste
Anfragen ) oder aber klicken Sie ganz oben links auf der Kopfzeile
entweder auf das Feld “ Produkte “ oder “ Nachfragen “ .
Alternativ rufen Sie bitte das  Suchfeld ( ebenfalls Kopfzeile ) auf
und geben dann, auf der sich öffnenden Suchfeldseite die Begriffe /
Produkte ein, die Sie kaufen oder verkaufen wollen. Dort können Sie
Ihre Suche auch noch verfeinern, um sie dann  nach verschiedenen
Kriterien einzugrenzen. Sie können auch die Suche über die
einzelnen blau unterlegten Suchkategorien eingrenzen.<BR>Neben der
eigenen, aktiven Suche, können Sie sich aber auch ganz bequem durch
die Suchalarm Funktionen ( Alert ) informieren lassen, wenn ein
anderer Geschäftspartner ein Produkt anbietet oder sucht, welche Sie
gerade verkaufen oder kaufen möchten. Das Zentratoo System
informiert Sie dann zeitnah per E Mail automatisch über diese
Neuigkeiten. Die Sucheinstellungen für den Alert können Sie auch
jederzeit abändern oder wieder löschen.</P>
<B>Wie
biete ich selber an oder suche selbst ? </B>
<P >
Hierzu
gehen Sie wieder über die Kopfzeile und klicken den Punkt “
Angebot “ an. Es öffnet sich dann eine Angebotsseite, auf der Sie
Ware suchen oder auch anbieten können. Dazu klicken Sie dann jeweils
auf die entsprechenden Felder wie z.B.  “ Anfrageform “  und
entscheiden sich dann für “ Kaufen “ oder „Verkaufen “.
Ebenso wählen Sie den Suchbereich und die Warenkategorie aus und
geben danach Ihre persönlichen Such / Verkaufsangaben in die
Textfelder ein. Zusätzlich können Sie aber auch Daten hochladen,
wie Fotos oder PDF Dateien, um Ihr Angebot optisch besser zu
verdeutlichen. Sie haben zudem noch die Möglichkeit über die
Funktion “ Währungsumrechner “  verschiedene Währungseinheiten
einzugeben. Am Ende speichern Sie Ihre Angaben mit “ Offer speicher
“ ab und das Angebot / Suche ist aktiv und online . Das war´s !</P>
<B>Wie
lange läuft ein Angebot / Gesuch ?</B>
<P >
Solange
bis Sie Ihre Ware gefunden oder verkauft haben . Sie sollten jedoch,
um die Plattform immer aktuell zu halten, Gesuche oder Angebote, die
nicht mehr benötigt werden, selbst löschen.</P>
<B>Wo
finde ich meine Angebote / Anfragen und wie kann ich sie ändern bzw.
löschen?</B>
<P >
In
der Kopfzeile rechts außen, neben dem Logout Buttom finden Sie Ihre
E Mail Adresse, bzw. Ihren persönlichen “ Mein Zentratoo “
Bereich. Wenn Sie hier raufklicken, dann öffnet sich Ihre
persönliche Seite mit all Ihren Daten und auch Angeboten unten am
Ende der Seite. 
</P>
<P >
Durch
Klick auf die Pfeile neben Produktname und Menge sortieren Sie Ihre
Angebote / Anfragen .</P>
<P >
Zum
Aufrufen und Bearbeiten klicken Sie einfach auf das entsprechende
Angebot / Anfrage , dann öffnet sich hierzu die entsprechende
Detailseite. Wenn Sie Änderungen der Angebote oder Gesuche wünschen,
können Sie dies ganz unproblematisch vornehmen, korrigieren Sie dann
die einzelnen Felder , bzw. löschen Ihre Angebote / Gesuche.
Hiernach speichern Sie dies über den Speicher Buttom ab.</P>
<B>Was
sollte in einem Angebot oder Gesuch stehen?</B>
<P >
Anhand
der Beschreibung sollen sich mögliche Geschäftspartner ein gutes
Bild von Ihrem Produkt oder Ihrem Gesuch  machen können. Stellen Sie
hier alle wichtigen und aussagekräftigen Informationen zusammen. 
</P>
<B>Wie
funktioniert Verhandeln und Vertragsabschluss?</B>
<P >
Nach
Öffnen eines fremden Angebots / Anfrage erscheint die Detailseite
des Anbieter/Suchenden , auf der oben alle wichtigen Informationen
des Produktangebots-/ Gesuchs mit dem aktuellen Status aufgeführt
sind.<BR>Die verhandelbaren Details wie Preis, Stückzahl,Menge
Lieferzeit können nun sofort eingesehen werden und über die E Mail
Adresse lässt sich prompt  ein entsprechender unmittelbarer Kontakt
zum potentiellen Vertragspartner direkt und ohne Umweg und damit auch
ohne weitere, für Sie finanziell belastende Kommissionen /
Provisionen herstellen.</P>
<B>Wer
beantwortet meine Frage?</B>
<P >
Falls
Ihre eine Frage hier nicht beantwortet ist, senden Sie  uns bitte
eine E-Mail an <A HREF="https://zentratoo.herokuapp.com/helpmailto:support@zen-tra-too.de"><FONT COLOR="#0000ff"><U>
info@zen-tra-too.de</U></A></P>


                    </div>
            </div>