<div class="container-fluid">
            <div class="row">
                    <div class="col-md-offset-3 col-md-6" style="padding-top: 20px;">
                        <div class="row">
  <div class="col-md-12">
  </div>
</div> 
                        <H1 LANG="it-IT" CLASS="western">Impressum</H1>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><SPAN LANG="it-IT">Zen-tra-too</SPAN></FONT><FONT FACE="Arial, sans-serif"><SPAN LANG="de-DE">
UG</SPAN></FONT><FONT FACE="Arial, sans-serif"><SPAN LANG="it-IT">  </SPAN></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><SPAN LANG="de-DE">Geschäftsführerin
: </SPAN></FONT><FONT FACE="Arial, sans-serif"><SPAN LANG="it-IT">
Anja Sternberg </SPAN></FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif">Schirpitzer
Weg 26</FONT></P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif">12355
Berlin </FONT>
</P>
<P STYLE="margin-top: 0.19in; margin-bottom: 0.19in"><FONT FACE="Arial, sans-serif"><SPAN LANG="it-IT">Telefon:
030 – 536 04612 <BR>E-Mail: <a href="mailto:info@zen-tra-too.de">info@zen-tra-too.de</a></SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT FACE="Arial, sans-serif">USt-ID Nr: 29/604/30037</FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><FONT COLOR="#ff0000"><BR></FONT><FONT FACE="Arial, sans-serif"><SPAN LANG="de-DE">HRB
Nummer : 159328 B</SPAN></FONT></P>
<P CLASS="western" STYLE="margin-bottom: 0in"><BR>
</P>


                    </div>
            </div>