<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> Create an Offer </h1>
        </div>
        <div class="create-offer-data">
          <div class="form-field1">
            <p> Request Type  </p>
            <select>
              <option> Set </option>
              <option> Set </option>
              <option> Set </option>
              <option> Set </option>
              <option> Set </option>
            </select>
          </div>
          <div class="form-field1">
            <p> Area  </p>
            <select>
              <option> Fruit juice concentrates </option>
              <option> Fruit juice concentrates </option>
              <option> Fruit juice concentrates </option>
              <option> Fruit juice concentrates </option>
            </select>
          </div>
          <div class="form-field1">
            <p> Category  </p>
            <select>
              <option> Category 12 </option>
              <option> Category 12 </option>
              <option> Category 12 </option>
              <option> Category 12 </option>
            </select>
          </div>
          <div class="form-field1">
            <p> Name of product of an offer (what is being offered?) </p>
            <input type="text" placeholder="" name="">
          </div>
          <div class="form-field1">
            <p> Region </p>
            <input type="text" placeholder="" name="">
          </div>
          <div class="form-field1">
            <p> Description </p>
            <textarea></textarea>
          </div>
          <div class="form-field1">
            <p> Date of Manufacture </p>
            <input type="date" name="">
          </div>
          <div class="form-field1 form-field2">
            <p> Image URL </p>
            <input type="file" name="">
            <button>Delete</button>
          </div>
          <div class="form-field1 form-field2">
            <p> Document Description </p>
            <input type="text" name="">
          </div>
          <div class="form-field1 form-field2">
            <p> Document (PDF Only) </p>
            <input type="file" name="">
            <button>Delete</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="info-box">
          <h4 class="bg-orange"> New Companies </h4>
          <h6>
            <a href=""> General UI </a>
          </h6>
          <h6>
            <a href=""> Sparkradius </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>