<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> List of all Companies </h1>
        </div>
        <div class="alerts-data2">
          <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive table-type2">
            <thead>
              <tr>
                <th> Company Name </th>
                <th> Country </th>
                <th> Email </th>
                <th> Full Name </th>
                <th> Activation Date </th>
                <th colspan="2"> Actions  </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> Microsoft </td>
                <td> Germany </td>
                <td> <a href=""> info@zentratoo.com </a> </td>
                <td> <a href=""> Anja Sternberg </a> </td>
                <td> 2020-Sep-29 </td>
                <td> <a href="" class="custom-btn2"> Ban User </a> <a href="" class="custom-btn2"> Delete User </a>  </td>
              </tr>
              <tr>
                <td> Microsoft </td>
                <td> Germany </td>
                <td> <a href=""> info@zentratoo.com </a> </td>
                <td> <a href=""> Anja Sternberg </a> </td>
                <td> 2020-Sep-29 </td>
                <td> <a href="" class="custom-btn2"> Ban User </a> <a href="" class="custom-btn2"> Delete User </a>  </td>
              </tr>
              <tr>
                <td> Microsoft </td>
                <td> Germany </td>
                <td> <a href=""> info@zentratoo.com </a> </td>
                <td> <a href=""> Anja Sternberg </a> </td>
                <td> 2020-Sep-29 </td>
                <td> <a href="" class="custom-btn2"> Ban User </a> <a href="" class="custom-btn2"> Delete User </a>  </td>
              </tr>
              <tr>
                <td> Microsoft </td>
                <td> Germany </td>
                <td> <a href=""> info@zentratoo.com </a> </td>
                <td> <a href=""> Anja Sternberg </a> </td>
                <td> 2020-Sep-29 </td>
                <td> <a href="" class="custom-btn2"> Ban User </a> <a href="" class="custom-btn2"> Delete User </a>  </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="info-box">
          <h4 class="bg-orange"> New Companies </h4>
          <h6>
            <a href=""> General UI </a>
          </h6>
          <h6>
            <a href=""> Sparkradius </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>