<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> Search Offers </h1>
        </div>
        <div class="search-offers">
          <div class="row">
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <div class="form-field3">
                <p> Request Type </p>
                <select>
                  <option> Buy </option>
                  <option> Buy </option>
                  <option> Buy </option>
                  <option> Buy </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <div class="form-field3">
                <p> Area </p>
                <select>
                  <option> Service </option>
                  <option> Service </option>
                  <option> Service </option>
                  <option> Service </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <div class="form-field3">
                <p> Country </p>
                <select>
                  <option> All </option>
                  <option> All </option>
                  <option> All </option>
                  <option> All </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <div class="form-field3">
                <p> City </p>
                <select>
                  <option> All </option>
                  <option> All </option>
                  <option> All </option>
                  <option> All </option>
                </select>
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <div class="form-field3">
                <p> Search </p>
                <input type="text" placeholder="Search" name="">
              </div>
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-xs-6">
              <button class="custom-btn1">Search</button>
            </div>
          </div>
        </div>
        <div class="alerts-data2">
          <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive table-type2">
            <thead>
              <tr>
                <th> Product Name </th>
                <th> Area </th>
                <th> Quantity</th>
                <th> Price Per Unit/ Service Price </th>
                <th> Region </th>
                <th> Email of Seller </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> testing name </td>
                <td> area 1 </td>
                <td> 5 kg </td>
                <td> $0.9 </td>
                <td> Germany </td>
                <td> abc@gmail.com </td>
              </tr>
              <tr>
                <td> testing name </td>
                <td> area 1 </td>
                <td> 5 kg </td>
                <td> $0.9 </td>
                <td> Germany </td>
                <td> abc@gmail.com </td>
              </tr>
              <tr>
                <td> testing name </td>
                <td> area 1 </td>
                <td> 5 kg </td>
                <td> $0.9 </td>
                <td> Germany </td>
                <td> abc@gmail.com </td>
              </tr>
              <tr>
                <td> testing name </td>
                <td> area 1 </td>
                <td> 5 kg </td>
                <td> $0.9 </td>
                <td> Germany </td>
                <td> abc@gmail.com </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="info-box">
          <h4 class="bg-orange"> New Companies </h4>
          <h6>
            <a href=""> General UI </a>
          </h6>
          <h6>
            <a href=""> Sparkradius </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>