<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="breadcrumb-custom">
          <h1> Angebote </h1>
          <ul>
            <li> <a href=""> Test 1 </a> <span> / </span> </li>
            <li> <a href=""> Test 2 </a> <span> / </span> </li>
            <li> <a href=""> Fruchtsaftkonzentrate </a> <span> / </span> </li>
            <li> <a href=""> Test 123 </a> <span> / </span> </li>
            <li> <a href=""> Volkers bereich </a> <span> / </span> </li>
            <li> <a href=""> Volkers bereich "neu hinzufugen" </a> <span> / </span> </li>
          </ul>
          <ul>
            <li> <a href=""> Apfelsaftkonzentrat </a> <span> / </span> </li>
            <li> <a href=""> Kat 123 </a> <span> / </span> </li>
            <li> <a href=""> Volkers neue Kategorie 1 </a> <span> / </span> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="table-type2">
      <table class="bg-white">
        <thead>
          <tr>
            <th> Produkt Name </th>
            <th> Bereiche  </th>
            <th> Menge </th>
            <th> Preis pro Einheit / Servicepreis </th>
            <th> Region </th>
            <th> E Mail des Verkaufers </th>
            <th class="no-visib">  </th>
            <th class="no-visib">  </th>
            <th class="no-visib">  </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> Test bei: Admin Zentratoo </td>
            <td> Test1: Apfelisaknozentrat </td>
            <td> 1,00 Deintselungs stunde </td>
            <td> $ 1,00 </td>
            <td> Test Germany </td>
            <td> admin@sparkradius.com </td>
            <td> 2020-09-26 <br/> 15:17:10 UTC </td>
            <td> $ </td>
            <td> 1.0 </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>