<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="create-offer-head">
          <h1> All Companies </h1>
        </div>
        <table summary="This table shows how to create responsive tables using Datatables' extended functionality" class="table table-bordered table-hover dt-responsive table-type2">
          <thead>
            <tr>
              <th> Company Name </th>
              <th> Country </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> General UIO </td>
              <td> Germany </td>
            </tr>
            <tr>
              <td> General UIO </td>
              <td> Germany </td>
            </tr>
            <tr>
              <td> General UIO </td>
              <td> Germany </td>
            </tr>
            <tr>
              <td> General UIO </td>
              <td> Germany </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="info-box">
          <h4 class="bg-orange"> New Companies </h4>
          <h6>
            <a href=""> General UI </a>
          </h6>
          <h6>
            <a href=""> Sparkradius </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"> </script>
<script src="https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
<script src="https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js"></script>
<script type="text/javascript">
  $('table').DataTable();
</script>