<section class="pad1 bg-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12">
        <div class="user-main-sec">
          <div class="user-profile">
            <img src="images/user-pic.png">
            <p> You do not have rating yet </p>
          </div>
          <div class="user-text">
            <h1> Sparkradius </h1>
            <h5> <b> Full Name: </b> Admin Zentratoo </h5>
            <h5> <b> Country: </b> Germany </h5>
            <h5> <b> Area Code: </b> 4242 </h5>
            <h5> <b> Phone: </b> +11341484884 </h5>
            <h5> <b> Fax: </b> 113414848488 </h5>
            <h5> <b> Email: </b> <a> admin@sparkradius.com </a> </h5>
            <h5> <b> Language: </b>   en </h5>
            <h5> <b> Address: </b>   Sanjuanstraussen 1233, Berlin </h5>
            <h5> <b> Summary: </b>  This is the summary </h5>
            <h5> <b> Documents: </b>   </h5>
            <h5> <a href=""> NDA Benjamin Richter  </a> </h5>
            <h5> <a href=""> Requirements_raceability_Theory_and_practical </a> </h5>
          </div>
        </div>
        <div class="action-buttons">
          <a href=""> Ban User  </a> <a href=""> Delete User </a>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
        <div class="info-box">
          <h4 class="bg-orange"> New Companies </h4>
          <h6>
            <a href=""> General UI </a>
          </h6>
          <h6>
            <a href=""> Sparkradius </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
        <div class="info-box">
          <h4 class="bg-maroon"> Newest Offers </h4>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
          <h6>
            <span> Ein Laptop Zum SPecien :)  </span>
            <a href=""> 7 Days </a>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>