<div class="container-fluid">
            <div class="row">
                    <div class="col-md-offset-3 col-md-6" style="padding-top: 20px;">
                        <div class="row">
  <div class="col-md-12">
  </div>
</div> 
                        <h1 >Allgemeine Geschäftsbedingungen für
die Nutzung der deutschsprachigen Zentratoo - Dienste
</h1>
<P >Diese Allgemeinen Geschäftsbedingungen
(im Folgenden: „Zentratoo-AGB“) regeln die Nutzung der
deutschsprachigen Websites (Zentratoo.de, Zentratoo.com), Dienste,
lokalen und mobilen Applikationen und Anwendungen von Zentratoo (im
Folgenden gemeinsam: „Zentratoo-Dienste“). Bestimmte
Funktionalitäten und Zusatzoptionen stehen möglicherweise nicht bei
allen Zentratoo-Diensten zur Verfügung bzw. erfordern die Anmeldung
eines Zentratoo-Kontos. 
</P>
<P >Der Vertragspartner eines Nutzers ist
die Zentratoo UG (haftungsbeschränkt), Schirpitzer Weg 26, 12355
Berlin / Deutschland 
</P>
<P >Der jeweilige Vertragspartner wird
nachfolgend als „Zentratoo“ bezeichnet. 
</P>
<P >Diese Zentratoo-AGB treten für alle
über die deutschsprachigen Zentratoo-Dienste angemeldeten Nutzer ab
dem 01.04.2016 in Kraft, sofern der Nutzer der Geltung der neuen
Zentratoo-AGB nicht innerhalb von vier Wochen nach Empfang der
E-Mail, in der sie ihm mitgeteilt werden, widerspricht. Für alle
Nutzer, die sich ab dem 01.04.2016 angemeldet haben, gelten ab dem
Zeitpunkt der Anmeldung die Zentratoo-AGB in der Fassung, der sie bei
der Anmeldung zugestimmt haben. 
</P>
<P >Die Nutzung der Zentratoo-Dienste wird
zusätzlich zu den Zentratoo-AGB durch die Zentratoo-Grundsätze
geregelt. 
</P>


<b >Allgemeine Bestimmungen 
</b>

<b >§1 Leistungsbeschreibung</b>
<P >1) Mittels der Zentratoo-Dienste bietet
Zentratoo einen Marktplatz an, auf dem von natürlichen und
juristischen Personen und Personengesellschaften ,
Artikel/Produkte/Dienstleistungen gewerblich angeboten  und erworben 
und sonstige Inhalte veröffentlicht werden können, sofern deren
Angebot, Erwerb oder Veröffentlichung nicht gegen gesetzliche
Bestimmungen, diese Zentratoo-AGB oder die Zentratoo-Grundsätze
verstößt. Zentratoo bietet selbst keine Artikel an und wird nicht
Vertragspartner der ausschließlich zwischen den Nutzern dieses
Marktplatzes geschlossenen Verträge.</P>
<P >2) Zentratoo bewirbt die Zentratoo
Dienste und stellt zu diesem Zweck einen Zugang zu den Inhalten der
Nutzer zur Verfügung, damit diese die Inhalte auf Websites, in
Softwareapplikationen und in E-Mails bewerben können.</P>
<P >3) Bestimmte Ausschnitte eines
Artikels/Produkt/Dienstleistung können zu diesem Zweck automatisiert
übersetzt werden.</P>
<P >4) Eine Überprüfung der bei der
Anmeldung hinterlegten Daten führt Zentratoo nur begrenzt durch, da
die Identifizierung von Personen im Internet nur eingeschränkt
möglich ist. Trotz verschiedenartiger Sicherheitsvorkehrungen, ist
es daher nicht auszuschließen, dass für ein Konto falsche
Kontaktdaten hinterlegt wurden bzw. diese sich zwischenzeitlich
geändert haben.</P>
<P >5) Mittels der Zentratoo-Dienste
veröffentlichte Artikel/Produkte/Dienstleistungen und Inhalte von
Nutzern stellen nicht die Meinung von Zentratoo dar und werden
grundsätzlich nicht von Zentratoo auf ihre Rechtmäßigkeit,
Richtigkeit und Vollständigkeit überprüft.</P>
<P >6) Zentratoo kann die Nutzung der
Zentratoo-Dienste oder einzelner Funktionen der Zentratoo-Dienste
oder den Umfang, in dem einzelne Funktionen genutzt werden können,
an bestimmte Voraussetzungen knüpfen, wie z.B. Prüfung der
Anmeldedaten, Nutzungsdauer,  der Vorlage bestimmter Nachweise (z.B.
Identitäts,- oder Eigentumsnachweise, Gewerbeanmeldung ) abhängig
machen.</P>
<P >7) Zentratoo  behält sich das Recht
vor, innerhalb seiner Grundsätze die Ordnung auf seinem Marktplatz
zu ändern, soweit dies den Nutzern unter Berücksichtigung der
berechtigten Interessen von Zentratoo zumutbar ist.</P>
<P >8) Der Anspruch von Nutzern auf Nutzung
der Zentratoo-Dienste besteht nur im Rahmen des aktuellen Stand der
Technik. Zentratoo schränkt seine Leistungen zeitweilig ein, wenn
dies im Hinblick auf Kapazitätsgrenzen, die Sicherheit oder
Integrität der Server oder zur Durchführung technischer Maßnahmen
erforderlich ist, und dies der ordnungsgemäßen oder verbesserten
Erbringung der Leistungen dient (Wartungsarbeiten). Zentratoo
berücksichtigt in diesen Fällen die berechtigten Interessen der
Nutzer.</P>
<P  >9) Sofern ein
unvorhergesehener Systemausfall die Nutzung der Zentratoo-Dienste
behindert, werden die Nutzer nach Möglichkeit in geeigneter Form
informiert. 
</P>
<b  >§2 Anmeldung und
Zentratoo-Konto</b>
<P  >1) Die Nutzung der
Zentratoo-Dienste als Verkäufer setzt die Anmeldung als Nutzer
voraus. Die Anmeldung erfolgt durch Eröffnung eines Zentratoo-Kontos
unter Zustimmung zu diesen Zentratoo-AGB und der
Zentratoo-Datenschutzerklärung. 
</P>
<P  >Mit der Anmeldung kommt
zwischen Zentratoo und dem Nutzer ein Vertrag über die Nutzung der
Zentratoo-Dienste (im Folgenden: &quot;Nutzungsvertrag&quot;)
zustande. Ein Anspruch auf Abschluss eines Nutzungsvertrags besteht
nicht.</P>
<P  >2) Die Anmeldung ist
nur juristischen Personen, Personengesellschaften und unbeschränkt
geschäftsfähigen natürlichen, gewerblich tätigen Personen
erlaubt. Insbesondere Minderjährige dürfen sich nicht für die
Nutzung der Zentratoo-Dienste anmelden.</P>
<P  >3) Die Nutzung der
Zentratoo-Dienste gelten nur für gewerbliche Zwecke. Die von
Zentratoo bei der Anmeldung abgefragten Daten sind vollständig und
korrekt anzugeben und ihre Anmeldedaten um die gesetzlich
erforderlichen Informationen zu ergänzen</P>
<P  >4) Ändern sich nach
der Anmeldung die angegebenen Daten, so sollte  der Nutzer  die
Angaben in seinem Zentratoo-Konto unverzüglich aktualisieren.</P>
<P >5)
Nutzer müssen ihr Passwort geheim halten und den Zugang zu ihrem
Zentratoo-Konto sorgfältig sichern. Nutzer sind verpflichtet,
Zentratoo umgehend zu informieren, wenn es Anhaltspunkte dafür gibt,
dass ein Zentratoo-Konto von Dritten missbraucht wurde.</P>
<P  >6) Ein Zentratoo-Konto
ist nicht übertragbar.</P>
<P  >7) Zentratoo behält
sich das Recht vor, Zentratoo-Konten von nicht vollständig
durchgeführten Anmeldungen nach einer angemessenen Zeit zu löschen.</P>

<b  >§3 Nutzung der
Zentratoo-Dienste, verbotene Artikel und Inhalte</b>
<P  >1)  Es liegt in der
Verantwortung des Nutzers sicherzustellen, dass seine
Artikel/Produkte/Dienstleistungen einschließlich der verwendeten
Bilder sowie seine sonstigen Inhalte rechtmäßig sind und keine
Rechte Dritter verletzen.</P>
<P  >2) Es ist verboten,
Artikel/Produkte/Dienstleisungen deren Angebot, Verkauf oder Erwerb
gegen gesetzliche Vorschriften, die Zentratoo-Grundsätze, Rechte
Dritter oder gegen die guten Sitten verstoßen, auf Zentratoo
anzubieten oder zu bewerben. Zentratoo behält sich vor, den Verkauf
bestimmter Artikel an Voraussetzungen zu knüpfen, die über die
gesetzlichen Vorschriften hinausgehen. 
</P>
<P  >3) Es ist verboten,
durch Verwendung mehrerer Zentratoo-Konten oder im Zusammenwirken mit
anderen Nutzern die Preise eigener oder fremder Artikel zu
manipulieren.</P>
<P  >4)
Es ist verboten, die Suchfunktionen der Zentratoo-Dienste zu
manipulieren, z.B. indem  andere Suchbegriffe missbräuchlich in die
Artikel/Produkt/Dienstleisungen oder Beschreibung eingefügt werden.
</P>
<P  >5) Verkäufer müssen
die  Zentratoo-Grundsätze zum Einstellen von 
Artikeln/Produkten/Dienstleistungen beachten und in die passende
Kategorie einstellen und mit Worten und Bildern richtig und
vollständig beschreiben. Es müssen alle für die Kaufentscheidung
wesentlichen Eigenschaften und Merkmale sowie Fehler, die den Wert
der angebotenen Ware mindern, wahrheitsgemäß angegeben werden.
Zudem muss über die Zahlungs- und Lieferungsbedingungen vollständig
informiert werden.</P>
<P  >6) Aus technischen
Gründen ist es möglich, dass Artikel/Produkte/Dienstleistungen
nicht unmittelbar nach dem Einstellen über die Kategoriensuche oder
mit Hilfe von Suchbegriffen aufgefunden werden können. 
</P>
<P  >Zentratoo ermöglicht
es den Nutzern, die Suchergebnisse anhand verschiedener Kriterien zu
sortieren. Trifft ein Nutzer keine Auswahl, so richtet sich die
Reihenfolge der Suchergebnisse nach verschiedenen Faktoren, z.B. 
Artikel, Angebot, Land.</P>
<P  >7) Der Verkaufspreis
umfasst nicht die Liefer- und Versandkosten.</P>
<P  >8) Nutzer dürfen
Adressen, E-Mail-Adressen und sonstige Kontaktdaten, die sie durch
die Nutzung der Zentratoo Dienste erhalten haben, für Ihre  Zwecke
nutzen.</P>
<P  >Insbesondere ist es
verboten, diese Daten weiterzuverkaufen oder sie für die Zusendung
von Werbung zu nutzen, es sei denn, der jeweilige Nutzer hat diesem
nach Maßgabe der geltenden gesetzlichen Bestimmungen, ausdrücklich
vorher zugestimmt bzw. nicht widersprochen.</P>
<P  >9) Nutzer dürfen keine
von Zentratoo oder anderen Nutzern generierten Inhalte blockieren,
überschreiben oder modifizieren oder in sonstiger Weise störend in
die Zentratoo-Dienste eingreifen, insbesondere wenn hierdurch eine
übermäßige Belastung der Zentratoo-Infrastruktur herbeigeführt
werden könnte.</P>

<b  >§4 Sanktionen,
Sperrung und Kündigung</b>
<P  >1) Zentratoo kann
folgende Maßnahmen ergreifen, wenn konkrete Anhaltspunkte dafür
bestehen, dass ein Nutzer gesetzliche Vorschriften, Rechte Dritter,
die Zentratoo-AGB oder die Zentratoo-Grundsätze verletzt oder wenn
Zentratoo ein sonstiges berechtigtes Interesse hat, insbesondere zum
Schutz der Nutzer vor betrügerischen Aktivitäten:</P>
<UL>
  <LI><P  >Löschen von
  Geboten, Artikeln/Produkten/Dienstleisungen  oder sonstigen Inhalten</P>
</UL>
<UL>
  <LI><P  >Verwarnung von
  Nutzern</P>
</UL>
<UL>
  <LI><P  >Verzögerung der
  Veröffentlichung von Artikeln/Produkten/Dienstleistungen und
  sonstigen Inhalten</P>
</UL>
<UL>
  <LI><P  >Einschränkung der
  Nutzung der Zentratoo-Dienste</P>
</UL>
<UL>
  <LI><P  >Aberkennung eines
  besonderen Verkäufer-Status</P>
</UL>
<UL>
  <LI><P  >Vorläufige
  Sperrung</P>
</UL>
<UL>
  <LI><P  >Endgültige
  Sperrung</P>
</UL>
<P  >Bei der Wahl einer
Maßnahme berücksichtigt Zentratoo die berechtigten Interessen des
betroffenen Nutzers, insbesondere ob Anhaltspunkte dafür vorliegen,
dass der Nutzer den Verstoß nicht verschuldet hat.</P>
<P  >2) Zentratoo kann einen
Nutzer endgültig von der Nutzung der Zentratoo-Dienste ausschließen
(endgültige Sperrung), wenn</P>
<P  >er falsche Kontaktdaten
angegeben hat.</P>
<P  >er andere Nutzer oder
Zentratoo in erheblichem Maße schädigt.</P>
<P  >er wiederholt gegen
diese Zentratoo-AGB oder die Zentratoo-Grundsätze verstößt.</P>
<P  >ein anderer wichtiger
Grund vorliegt.</P>
<P  >Nachdem ein Nutzer
endgültig gesperrt wurde, besteht kein Anspruch auf
Wiederherstellung des gesperrten Zentratoo-Kontos .</P>
<P  >3)
Jeder Nutzer hat das Recht den Nutzungsvertrag jederzeit zu beenden.</P>
<P  >4) Sobald ein Nutzer
gesperrt oder der Nutzungsvertrag von Zentratoo gekündigt wurde,
darf dieser Nutzer die Zentratoo-Dienste auch mit anderen
Zentratoo-Konten nicht mehr nutzen und sich nicht erneut anmelden. 
</P>

<b  >§5 Gebühren</b>
<P  >Bis auf Widerruf
entstehen keine Kosten. 
</P>

<b  >§6 Angebotsformate und
Vertragsschluss 
</b>
<P  >1)Zentratoo stellt den
Nutzern eine Vielzahl von Angebotsformaten und Funktionen zur
Verfügung, um mittels der Zentratoo-Dienste Verträge anzubahnen
bzw. abzuschließen. Verkäufer haben die Möglichkeit ihre Artikel
/Produkte/Dienstleistungen über den Zentratoo-Dienst auch
international anzubieten. 
</P>
<P  >2) Stellt ein Verkäufer
mittels der Zentratoo Dienste einen Artikel/Produkt/Dienstleistungen 
mit einem Festpreis ein, so gibt er ein verbindliches Angebot zum
Abschluss eines Vertrags über  Artikel/Produkt/Dienstleistungen ab.</P>
<P  >3)Verkäufer sollten in
der Lage sein, die angebotenen Waren dem Käufer unverzüglich nach
Vertragsschluss zu übereignen. 
</P>
<P  >4) Wird ein
Artikel/Produkt/Dienstleistungen  vor Ablauf der Angebotsdauer von
Zentratoo gelöscht, kommt kein wirksamer Vertrag zwischen Käufer
und Verkäufer zustande.</P>

<b  >§7
Haftungsbeschränkung</b>
<P  >1) Zentratoo haftet
nach den gesetzlichen Vorschriften für Vorsatz und grobe
Fahrlässigkeit von Zentratoo, ihren gesetzlichen Vertretern,
leitenden Angestellten oder sonstigen Erfüllungsgehilfen. Gleiches
gilt bei der Übernahme von Garantien oder einer sonstigen
verschuldensunabhängigen Haftung sowie bei Ansprüchen nach dem
Produkthaftungsgesetz oder bei einer schuldhaften Verletzung des
Lebens, des Körpers oder der Gesundheit. Zentratoo haftet dem Grunde
nach für durch Zentratoo, ihre Vertreter, leitenden Angestellten und
einfachen Erfüllungsgehilfen verursachte einfach fahrlässige
Verletzungen wesentlicher Vertragspflichten, also solcher Pflichten,
auf deren Erfüllung der Nutzer zur ordnungsgemäßen Durchführung
des Vertrages regelmäßig vertraut und vertrauen darf, in diesem
Fall aber der Höhe nach begrenzt auf den typischerweise
entstehenden, vorhersehbaren Schaden.</P>
<P  >2) Eine weitere Haftung
von Zentratoo ist ausgeschlossen.</P>
<P  >3) Soweit die Haftung
von Zentratoo ausgeschlossen oder beschränkt ist, gilt dies auch
zugunsten der persönlichen Haftung ihrer gesetzlichen Vertreter,
leitenden Angestellten und einfachen Erfüllungsgehilfen.</P>

<b  >§8 Freistellung</b>
<P  >Der Nutzer stellt
Zentratoo von sämtlichen Ansprüchen frei, die andere Nutzer oder
sonstige Dritte gegenüber Zentratoo geltend machen wegen Verletzung
ihrer Rechte durch von dem Nutzer mittels der Zentratoo-Dienste
eingestellten Artikel/Produkte/Dienstleistungen und sonstige Inhalte
oder wegen dessen sonstiger Nutzung der Zentratoo-Dienste. Der Nutzer
übernimmt hierbei die Kosten der notwendigen Rechtsverteidigung von
Zentratoo einschließlich sämtlicher Gerichts- und Anwaltskosten in
gesetzlicher Höhe. Dies gilt nicht, wenn die Rechtsverletzung von
dem Nutzer nicht zu vertreten ist. Der Nutzer ist verpflichtet,
Zentratoo für den Fall einer Inanspruchnahme durch Dritte
unverzüglich, wahrheitsgemäß und vollständig alle Informationen
zur Verfügung zu stellen, die für die Prüfung der Ansprüche und
eine Verteidigung erforderlich sind.</P>

<b  >§9
Schlussbestimmungen</b>
<P  >1) Zentratoo ist
berechtigt, mit einer Ankündigungsfrist von vier Wochen seine Rechte
und Pflichten aus diesem Vertragsverhältnis ganz oder teilweise auf
einen Dritten zu übertragen</P>
<P  >2) Zentratoo behält
sich vor, diese Zentratoo-AGB jederzeit und ohne Nennung von Gründen
zu ändern. Die geänderten Bedingungen werden den Nutzern per E-Mail
spätestens vier Wochen vor ihrem Inkrafttreten zugesendet.
Widerspricht ein Nutzer der Geltung der neuen Zentratoo-AGB nicht
innerhalb von vier Wochen nach Empfang der E-Mail, gelten die
geänderten Zentratoo-AGB als angenommen. Zentratoo wird den Nutzer
in der E-Mail, die die geänderten Bedingungen enthält, auf die
Widerspruchsmöglichkeit und die Bedeutung dieser Vierwochenfrist
gesondert hinweisen.</P>
<P  >3) Sollten einzelne
Bestimmungen dieser Zentratoo-AGB ganz oder teilweise nichtig oder
unwirksam sein oder werden, so wird dadurch die Wirksamkeit der
übrigen Bestimmungen nicht berührt. An die Stelle von nicht
einbezogenen oder unwirksamen Bestimmungen dieser Zentratoo-AGB tritt
das Gesetzesrecht. Sofern solches Gesetzesrecht im jeweiligen Fall
nicht zur Verfügung steht (Regelungslücke) oder zu einem
untragbaren Ergebnis führen würde, werden die Parteien in</P>
<P  >Verhandlungen darüber
eintreten, anstelle der nicht einbezogenen oder unwirksamen
Bestimmung eine wirksame Regelung zu treffen, die ihr wirtschaftlich
möglichst nahe kommt.</P>
<P  >4) Sämtliche
Erklärungen, die im Rahmen des mit Zentratoo abgeschlossenen
Nutzungsvertrags übermittelt werden, müssen in Schriftform oder per
E-Mail erfolgen.</P>
<P  >5) Der Nutzungsvertrag
einschließlich dieser Zentratoo-AGB unterliegt deutschem Recht. Die
Anwendung des UN-Kaufrechts ist ausgeschlossen</P>
<P  >6) Für Nutzer, die
Kaufmann im Sinne des Handelsgesetzbuchs, ein öffentlich-rechtliches
Sondervermögen oder eine juristische Person des öffentlichen Rechts
sind, ist Berlin ausschließlicher Gerichtsstand für alle aus dem
Nutzungsvertrag und diesen Zentratoo AGB entstehenden Streitigkeiten.</P>

                    </div>
            </div>